/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Creato Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  @media screen and (max-width: 1024px) {
    // padding: 0 46px 0 46px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 32px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 16px;
  }
}
.container {
  max-width: 1260px;
  padding: 0 50px;
  margin: 0 auto;
  @media screen and (max-width: 1230px) {
    padding: 0;
  }
}

@font-face {
  font-family: "Creato Display";
  font-style: normal;
  font-weight: 400;
  src: local("Creato Display"),
    url("./assets/fonts/CreatoDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Creato Display";
  font-style: normal;
  font-weight: 500;
  src: local("Creato Display"),
    url("./assets/fonts/CreatoDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"),
    url("./assets/fonts/Proxima-Nova-Regular.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova"),
    url("./assets/fonts/Proxima-Nova-Semibold.woff") format("woff");
}
