.mainbutton {
  width: 165px;
  height: 45px;
  background: linear-gradient(90deg, #824ffb 3.8%, #3443fa 100%);
  outline: none;
  font-family: "Creato Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  align-self: flex-end;
  border: none;
  cursor: pointer;
}
